doctype
html
	head
		title Luan Souza

		meta(charset="utf-8")
		meta(content="width=device-width, initial-scale=1.0" name="viewport")
		//link(href='https://fonts.googleapis.com/css?family=Roboto:300', rel='stylesheet', type='text/css')
		link(rel="stylesheet" type="text/css" href="static/css/animate.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="static/css/style.css")

	body
		.content
			.header.col-md-12
				.info-pessoal.col-md-6.col-md-offset-3
					.foto.col-md-2.col-md-offset-5
					
						
				.sobre-mim.col-md-10.col-md-offset-1 Olá! meu nome é
					span.nome
						strong  Luan Souza
					|.
					.descricao
						p Sou entusiasta de programação e desenvolvimento web.
						span Estudante de
							strong Sistemas para Internet
						|no Instituto Federal de Educação, Ciência e Tecnologia do Sudeste de Minas Gerais.
					span.glyphicon.glyphicon-menu-down(aria-hidden='true')

			.divisor.divisor1.col-md-12

			.aboutme.col-md-12.up.wow.slideInUp
				h3.titulo-sobre.col-md-12 Sobre mim
				.traco-content.col-md-12
					.traco.border-black
					
				.about-dir.col-about.col-md-5.col-md-offset-1
					h4.col-md-12 titulo
					p.wow.fadeInLeft Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae mi id urna luctus lacinia. Maecenas egestas in magna vel tristique. Donec non interdum diam. Nunc ac arcu orci. Morbi sed leo at justo faucibus consequat. Nullam lectus massa, facilisis eu eros non, cursus placerat nisl. Morbi euismod mi eu eros consequat, id sodales massa rhoncus. Donec vel consectetur mi, id dictum dolor. Maecenas maximus et erat nec dictum. Phasellus vulputate libero sed mauris lacinia pulvinar. In tristique lacus mauris, tincidunt elementum purus ullamcorper id. Curabitur nec quam lectus. Vestibulum sed turpis sed libero fermentum facilisis. Mauris eu purus sit amet risus hendrerit venenatis. Vestibulum in nisl felis. Praesent ultrices tincidunt elit in elementum.

				.about-esq.col-about.col-md-5
					img.book.col-md-6.col-md-offset-3.wow.fadeInRight

				.about-esq.col-about.col-md-5.col-md-offset-1
					img.book.col-md-6.col-md-offset-3.wow.fadeInRight

				.about-dir.col-about.col-md-5
					h4.col-md-12 titulo
					p.wow.fadeInLeft Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vitae mi id urna luctus lacinia. Maecenas egestas in magna vel tristique. Donec non interdum diam. Nunc ac arcu orci. Morbi sed leo at justo faucibus consequat. Nullam lectus massa, facilisis eu eros non, cursus placerat nisl. Morbi euismod mi eu eros consequat, id sodales massa rhoncus. Donec vel consectetur mi, id dictum dolor. Maecenas maximus et erat nec dictum. Phasellus vulputate libero sed mauris lacinia pulvinar. In tristique lacus mauris, tincidunt elementum purus ullamcorper id. Curabitur nec quam lectus. Vestibulum sed turpis sed libero fermentum facilisis. Mauris eu purus sit amet risus hendrerit venenatis. Vestibulum in nisl felis. Praesent ultrices tincidunt elit in elementum.

			.divisor.divisor2.col-md-12

			.skills.col-md-12.border-white
				h3.titulo-sobre.col-md-12.text-center Habilidades
				.traco-content.col-md-12
					.traco.border-black
				.quadro-skill.col-md-12.border-white
					
					.skill.skill-1.col-md-3.border-white.text-center
						h3.col-md-12.text-center Html5/CSS3
						.circle.border-white
							.wave.wow.slideInUp
								.wave-up.wave-90.text-center.border-white
									p Avancado
									
					.skill.skill-1.col-md-3.border-white
						h3.col-md-12.text-center JS/Jquery
						.circle.border-white
							.wave.wow.slideInUp
								.wave-up.wave-70.text-center.border-white
									p Intermediario
								
					.skill.skill-1.col-md-3.border-white
						h3.col-md-12.text-center  Design Responsivo
						.circle.border-white
							.wave.wow.slideInUp
								.wave-up.wave-90.text-center.border-white
									p Avancado

					.skill.skill-1.col-md-3.border-white
						h3.col-md-12.text-center Sass/Jade
						.circle.border-white
							.wave.wow.slideInUp
								.wave-up.wave-60.text-center.border-white
									p Intermediario
					
					.skill.skill-1.col-md-3.border-white
						h3.col-md-12.text-center Twitter bootstrap
						.circle.border-white
							.wave.wow.slideInUp
								.wave-up.wave-80.text-center.border-white
									p Avancado
					
					.skill.skill-1.col-md-3.border-white
						h3.col-md-12.text-center Python
						.circle.border-white
							.wave.wow.slideInUp
								.wave-up.wave-70.text-center.border-white
									p Intermediario

					.skill.skill-1.col-md-3.border-white
						h3.col-md-12.text-center Git
						.circle.border-white
							.wave.wow.slideInUp
								.wave-up.wave-70.text-center.border-white
									p Intermediario
								
					.skill.skill-1.col-md-3.border-white
						h3.col-md-12.text-center Android
						.circle.border-white
							.wave.wow.slideInUp
								.wave-up.wave-40.text-center.border-white
									p Iniciante
								
					
			.divisor.divisor3.col-md-12

			.desenvolvimento.col-md-12.border-black
				h3.titulo-sobre.col-md-12.text-center Algumas tecnologias usadas
				.traco-content.col-md-12
					.traco.border-black
				
				.desenvolvimento1.col-md-6.border-black
					.titulo-tecnologias.col-md-12.text-center
						h4.col-md-12.text-center Algumas tecnologias usadas
						.traco-content.col-md-12
							.traco.border-black
						
					.desenvolvimento-texto.col-md-12.border-black
						p.border-black.text-center SASS / SCSS é uma plataforma pra desenvolver CSS de forma mais proveitosa e produtiva, podendo dividir em vários arquivos .scss e formando um único .css, possibilitando várias pessoas trabalharem no mesmo CSS de um projeto.
					.desenvolvimento-radios.col-md-12.text-center.border-black
						input#radio-sass.radios(type='radio', name="tecnologia")
						input#radio-css.radios(type='radio', name="tecnologia")
						input#radio-jade.radios(type='radio', name="tecnologia")
						input#radio-js.radios(type='radio', name="tecnologia")
						input#radio-html.radios(type='radio', name="tecnologia")
						
				.desenvolvimento2.col-md-6.border-black
					.titulo-tecnologias.col-md-12.text-center
						
					.tecnologias2.col-md-12.border-black
						.area-3d
								.cubo-3d
									.face-3d.cubo-frente
									|       
									.face-3d.cubo-cima
									|       
									.face-3d.cubo-baixo
									|       
									.face-3d.cubo-esquerda
									|       
									.face-3d.cubo-direita
									|       
									.face-3d.cubo-costas
			.divisor.divisor4.col-md-12
			.contato.col-md-12
				h3.titulo-sobre.col-md-12.text-center Entre em contato
				.traco-content.col-md-12
					.traco.border-black
				
		script(type="text/javascript" src="static/framesjs/wow.min.js")
		script.
			wow = new WOW(
			{
				boxClass:     'wow',      // default
				animateClass: 'animated', // default
				offset:       100,        // default
				mobile:       true,       // default
				live:         true        // default
			}
			)
			wow.init();
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
		script(src="static/js/typed.min.js")
		script(type="text/javascript" src="static/js/main.js")
