@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@font-face {
  font-family: litera;
  src: url(../../fonts/litera.tff) format("truetype"); }
* {
  padding: 0;
  margin: 0; }
  *::selection {
    background-color: #13B87C;
    color: white; }

body {
  background-color: #EEE;
  height: 1000px;
  font-family: 'Raleway', sans-serif; }

.content {
  width: 100%;
  overflow: hidden; }

.border-white {
  /*border: 1px white solid;*/ }

.header {
  height: 88vh;
  background-color: #111111;
  z-index: 0; }
  .header .sobre-mim {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 40px;
    color: white !important; }
    .header .sobre-mim .nome strong {
      color: #13B87C; }
    .header .sobre-mim .descricao {
      font-size: 25px;
      /*border-bottom: 1px $element-color solid;*/ }
    .header .sobre-mim .glyphicon-menu-down {
      margin-top: 50px !important; }
  .header .info-pessoal {
    margin-top: 100px !important;
    height: 100px; }
    .header .info-pessoal .foto {
      /* border: 1px white solid;*/
      height: 100px;
      border-radius: 100%;
      background-image: url("../../img/user.jpg"); }

.divisor2 {
  transform: rotate(0deg);
  transition: all 0.3s linear; }

.divisor {
  height: 100px;
  z-index: 100; }

.divisor1 {
  background-color: #111111;
  transform: rotate(3.5deg) translateY(-42%) scale(2, 1);
  box-shadow: 0 1px 1px #111111; }

.divisor2 {
  background-color: #111111;
  transform: rotate(-3.5deg) translateY(42%) scale(2, 1);
  transition: all 0.3s linear;
  z-index: 0; }

.divisor3 {
  background-color: #111111;
  transform: rotate(-3.5deg) translateY(-42%) scale(2, 1);
  z-index: 100; }

.divisor4 {
  z-index: 0;
  background-color: #111111;
  transform: rotate(3deg) translateY(42%) scale(2, 1);
  box-shadow: 0 1px 1px #111111; }

.aboutme {
  font-family: 'Raleway', sans-serif;
  /*border: 1px solid black;*/
  text-align: center; }
  .aboutme .about-centro .divisor {
    height: 300px;
    width: 1px;
    margin: 0 auto;
    /* border: 1px solid black;*/ }
  .aboutme .col-about {
    height: 300px;
    /*  border: 1px solid black;*/ }

.book {
  height: 100%;
  background-image: url("../../img/books.png");
  background-repeat: no-repeat; }
  .book img {
    border: 0 !important; }

.skills {
  background-color: #111111;
  z-index: 100; }
  .skills h3 {
    color: white; }
  .skills .quadro-skill {
    margin-top: 100px;
    margin-bottom: 50px; }
    .skills .quadro-skill .skill {
      margin-bottom: 50px; }
      .skills .quadro-skill .skill h3 {
        color: white;
        text-shadow: 0 0 1px white; }

.desenvolvimento {
  margin-bottom: 200px; }
  .desenvolvimento .desenvolvimento1 .desenvolvimento-radios {
    position: relative;
    bottom: 2px;
    height: 50px; }
  .desenvolvimento .desenvolvimento1 .desenvolvimento-texto {
    position: relative;
    bottom: 2px;
    height: 250px; }
    .desenvolvimento .desenvolvimento1 .desenvolvimento-texto p {
      margin-top: 50px;
      font-size: 18px; }
  .desenvolvimento .tecnologias2 {
    height: 300px; }
  .desenvolvimento .tecnologias1 {
    height: 300px; }
    .desenvolvimento .tecnologias1 .texto-tecnologias {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }

.contato {
  color: white;
  z-index: 100;
  background-color: #111111;
  height: 300px; }

.radios:not(old) {
  height: 16px;
  width: 16px; }

.radios:checked {
  width: 20px;
  height: 20px; }

.circle {
  background: #111;
  height: 200px;
  width: 200px;
  border: 2px solid white;
  border-top: 2px solid #111111;
  margin: 0 45px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 4px 5px -2px white;
  float: left;
  transform: rotate(0deg);
  transition: all 0.05s linear; }
  .circle:hover {
    transform: rotate(2deg); }

@keyframes wave-10 {
  0% {
    top: calc( 100% - 10 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 10 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 10 * 1%);
    right: 0%; } }
.wave-10 {
  animation-name: wave-10;
  top: calc(100% - 10 * 1%);
  height: calc(10 * 1%); }

@keyframes wave-11 {
  0% {
    top: calc( 100% - 11 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 11 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 11 * 1%);
    right: 0%; } }
.wave-11 {
  animation-name: wave-11;
  top: calc(100% - 11 * 1%);
  height: calc(11 * 1%); }

@keyframes wave-12 {
  0% {
    top: calc( 100% - 12 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 12 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 12 * 1%);
    right: 0%; } }
.wave-12 {
  animation-name: wave-12;
  top: calc(100% - 12 * 1%);
  height: calc(12 * 1%); }

@keyframes wave-13 {
  0% {
    top: calc( 100% - 13 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 13 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 13 * 1%);
    right: 0%; } }
.wave-13 {
  animation-name: wave-13;
  top: calc(100% - 13 * 1%);
  height: calc(13 * 1%); }

@keyframes wave-14 {
  0% {
    top: calc( 100% - 14 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 14 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 14 * 1%);
    right: 0%; } }
.wave-14 {
  animation-name: wave-14;
  top: calc(100% - 14 * 1%);
  height: calc(14 * 1%); }

@keyframes wave-15 {
  0% {
    top: calc( 100% - 15 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 15 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 15 * 1%);
    right: 0%; } }
.wave-15 {
  animation-name: wave-15;
  top: calc(100% - 15 * 1%);
  height: calc(15 * 1%); }

@keyframes wave-16 {
  0% {
    top: calc( 100% - 16 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 16 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 16 * 1%);
    right: 0%; } }
.wave-16 {
  animation-name: wave-16;
  top: calc(100% - 16 * 1%);
  height: calc(16 * 1%); }

@keyframes wave-17 {
  0% {
    top: calc( 100% - 17 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 17 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 17 * 1%);
    right: 0%; } }
.wave-17 {
  animation-name: wave-17;
  top: calc(100% - 17 * 1%);
  height: calc(17 * 1%); }

@keyframes wave-18 {
  0% {
    top: calc( 100% - 18 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 18 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 18 * 1%);
    right: 0%; } }
.wave-18 {
  animation-name: wave-18;
  top: calc(100% - 18 * 1%);
  height: calc(18 * 1%); }

@keyframes wave-19 {
  0% {
    top: calc( 100% - 19 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 19 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 19 * 1%);
    right: 0%; } }
.wave-19 {
  animation-name: wave-19;
  top: calc(100% - 19 * 1%);
  height: calc(19 * 1%); }

@keyframes wave-20 {
  0% {
    top: calc( 100% - 20 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 20 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 20 * 1%);
    right: 0%; } }
.wave-20 {
  animation-name: wave-20;
  top: calc(100% - 20 * 1%);
  height: calc(20 * 1%); }

@keyframes wave-21 {
  0% {
    top: calc( 100% - 21 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 21 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 21 * 1%);
    right: 0%; } }
.wave-21 {
  animation-name: wave-21;
  top: calc(100% - 21 * 1%);
  height: calc(21 * 1%); }

@keyframes wave-22 {
  0% {
    top: calc( 100% - 22 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 22 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 22 * 1%);
    right: 0%; } }
.wave-22 {
  animation-name: wave-22;
  top: calc(100% - 22 * 1%);
  height: calc(22 * 1%); }

@keyframes wave-23 {
  0% {
    top: calc( 100% - 23 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 23 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 23 * 1%);
    right: 0%; } }
.wave-23 {
  animation-name: wave-23;
  top: calc(100% - 23 * 1%);
  height: calc(23 * 1%); }

@keyframes wave-24 {
  0% {
    top: calc( 100% - 24 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 24 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 24 * 1%);
    right: 0%; } }
.wave-24 {
  animation-name: wave-24;
  top: calc(100% - 24 * 1%);
  height: calc(24 * 1%); }

@keyframes wave-25 {
  0% {
    top: calc( 100% - 25 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 25 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 25 * 1%);
    right: 0%; } }
.wave-25 {
  animation-name: wave-25;
  top: calc(100% - 25 * 1%);
  height: calc(25 * 1%); }

@keyframes wave-26 {
  0% {
    top: calc( 100% - 26 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 26 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 26 * 1%);
    right: 0%; } }
.wave-26 {
  animation-name: wave-26;
  top: calc(100% - 26 * 1%);
  height: calc(26 * 1%); }

@keyframes wave-27 {
  0% {
    top: calc( 100% - 27 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 27 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 27 * 1%);
    right: 0%; } }
.wave-27 {
  animation-name: wave-27;
  top: calc(100% - 27 * 1%);
  height: calc(27 * 1%); }

@keyframes wave-28 {
  0% {
    top: calc( 100% - 28 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 28 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 28 * 1%);
    right: 0%; } }
.wave-28 {
  animation-name: wave-28;
  top: calc(100% - 28 * 1%);
  height: calc(28 * 1%); }

@keyframes wave-29 {
  0% {
    top: calc( 100% - 29 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 29 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 29 * 1%);
    right: 0%; } }
.wave-29 {
  animation-name: wave-29;
  top: calc(100% - 29 * 1%);
  height: calc(29 * 1%); }

@keyframes wave-30 {
  0% {
    top: calc( 100% - 30 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 30 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 30 * 1%);
    right: 0%; } }
.wave-30 {
  animation-name: wave-30;
  top: calc(100% - 30 * 1%);
  height: calc(30 * 1%); }

@keyframes wave-31 {
  0% {
    top: calc( 100% - 31 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 31 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 31 * 1%);
    right: 0%; } }
.wave-31 {
  animation-name: wave-31;
  top: calc(100% - 31 * 1%);
  height: calc(31 * 1%); }

@keyframes wave-32 {
  0% {
    top: calc( 100% - 32 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 32 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 32 * 1%);
    right: 0%; } }
.wave-32 {
  animation-name: wave-32;
  top: calc(100% - 32 * 1%);
  height: calc(32 * 1%); }

@keyframes wave-33 {
  0% {
    top: calc( 100% - 33 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 33 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 33 * 1%);
    right: 0%; } }
.wave-33 {
  animation-name: wave-33;
  top: calc(100% - 33 * 1%);
  height: calc(33 * 1%); }

@keyframes wave-34 {
  0% {
    top: calc( 100% - 34 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 34 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 34 * 1%);
    right: 0%; } }
.wave-34 {
  animation-name: wave-34;
  top: calc(100% - 34 * 1%);
  height: calc(34 * 1%); }

@keyframes wave-35 {
  0% {
    top: calc( 100% - 35 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 35 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 35 * 1%);
    right: 0%; } }
.wave-35 {
  animation-name: wave-35;
  top: calc(100% - 35 * 1%);
  height: calc(35 * 1%); }

@keyframes wave-36 {
  0% {
    top: calc( 100% - 36 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 36 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 36 * 1%);
    right: 0%; } }
.wave-36 {
  animation-name: wave-36;
  top: calc(100% - 36 * 1%);
  height: calc(36 * 1%); }

@keyframes wave-37 {
  0% {
    top: calc( 100% - 37 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 37 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 37 * 1%);
    right: 0%; } }
.wave-37 {
  animation-name: wave-37;
  top: calc(100% - 37 * 1%);
  height: calc(37 * 1%); }

@keyframes wave-38 {
  0% {
    top: calc( 100% - 38 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 38 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 38 * 1%);
    right: 0%; } }
.wave-38 {
  animation-name: wave-38;
  top: calc(100% - 38 * 1%);
  height: calc(38 * 1%); }

@keyframes wave-39 {
  0% {
    top: calc( 100% - 39 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 39 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 39 * 1%);
    right: 0%; } }
.wave-39 {
  animation-name: wave-39;
  top: calc(100% - 39 * 1%);
  height: calc(39 * 1%); }

@keyframes wave-40 {
  0% {
    top: calc( 100% - 40 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 40 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 40 * 1%);
    right: 0%; } }
.wave-40 {
  animation-name: wave-40;
  top: calc(100% - 40 * 1%);
  height: calc(40 * 1%); }

@keyframes wave-41 {
  0% {
    top: calc( 100% - 41 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 41 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 41 * 1%);
    right: 0%; } }
.wave-41 {
  animation-name: wave-41;
  top: calc(100% - 41 * 1%);
  height: calc(41 * 1%); }

@keyframes wave-42 {
  0% {
    top: calc( 100% - 42 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 42 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 42 * 1%);
    right: 0%; } }
.wave-42 {
  animation-name: wave-42;
  top: calc(100% - 42 * 1%);
  height: calc(42 * 1%); }

@keyframes wave-43 {
  0% {
    top: calc( 100% - 43 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 43 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 43 * 1%);
    right: 0%; } }
.wave-43 {
  animation-name: wave-43;
  top: calc(100% - 43 * 1%);
  height: calc(43 * 1%); }

@keyframes wave-44 {
  0% {
    top: calc( 100% - 44 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 44 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 44 * 1%);
    right: 0%; } }
.wave-44 {
  animation-name: wave-44;
  top: calc(100% - 44 * 1%);
  height: calc(44 * 1%); }

@keyframes wave-45 {
  0% {
    top: calc( 100% - 45 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 45 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 45 * 1%);
    right: 0%; } }
.wave-45 {
  animation-name: wave-45;
  top: calc(100% - 45 * 1%);
  height: calc(45 * 1%); }

@keyframes wave-46 {
  0% {
    top: calc( 100% - 46 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 46 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 46 * 1%);
    right: 0%; } }
.wave-46 {
  animation-name: wave-46;
  top: calc(100% - 46 * 1%);
  height: calc(46 * 1%); }

@keyframes wave-47 {
  0% {
    top: calc( 100% - 47 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 47 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 47 * 1%);
    right: 0%; } }
.wave-47 {
  animation-name: wave-47;
  top: calc(100% - 47 * 1%);
  height: calc(47 * 1%); }

@keyframes wave-48 {
  0% {
    top: calc( 100% - 48 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 48 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 48 * 1%);
    right: 0%; } }
.wave-48 {
  animation-name: wave-48;
  top: calc(100% - 48 * 1%);
  height: calc(48 * 1%); }

@keyframes wave-49 {
  0% {
    top: calc( 100% - 49 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 49 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 49 * 1%);
    right: 0%; } }
.wave-49 {
  animation-name: wave-49;
  top: calc(100% - 49 * 1%);
  height: calc(49 * 1%); }

@keyframes wave-50 {
  0% {
    top: calc( 100% - 50 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 50 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 50 * 1%);
    right: 0%; } }
.wave-50 {
  animation-name: wave-50;
  top: calc(100% - 50 * 1%);
  height: calc(50 * 1%); }

@keyframes wave-51 {
  0% {
    top: calc( 100% - 51 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 51 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 51 * 1%);
    right: 0%; } }
.wave-51 {
  animation-name: wave-51;
  top: calc(100% - 51 * 1%);
  height: calc(51 * 1%); }

@keyframes wave-52 {
  0% {
    top: calc( 100% - 52 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 52 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 52 * 1%);
    right: 0%; } }
.wave-52 {
  animation-name: wave-52;
  top: calc(100% - 52 * 1%);
  height: calc(52 * 1%); }

@keyframes wave-53 {
  0% {
    top: calc( 100% - 53 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 53 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 53 * 1%);
    right: 0%; } }
.wave-53 {
  animation-name: wave-53;
  top: calc(100% - 53 * 1%);
  height: calc(53 * 1%); }

@keyframes wave-54 {
  0% {
    top: calc( 100% - 54 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 54 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 54 * 1%);
    right: 0%; } }
.wave-54 {
  animation-name: wave-54;
  top: calc(100% - 54 * 1%);
  height: calc(54 * 1%); }

@keyframes wave-55 {
  0% {
    top: calc( 100% - 55 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 55 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 55 * 1%);
    right: 0%; } }
.wave-55 {
  animation-name: wave-55;
  top: calc(100% - 55 * 1%);
  height: calc(55 * 1%); }

@keyframes wave-56 {
  0% {
    top: calc( 100% - 56 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 56 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 56 * 1%);
    right: 0%; } }
.wave-56 {
  animation-name: wave-56;
  top: calc(100% - 56 * 1%);
  height: calc(56 * 1%); }

@keyframes wave-57 {
  0% {
    top: calc( 100% - 57 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 57 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 57 * 1%);
    right: 0%; } }
.wave-57 {
  animation-name: wave-57;
  top: calc(100% - 57 * 1%);
  height: calc(57 * 1%); }

@keyframes wave-58 {
  0% {
    top: calc( 100% - 58 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 58 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 58 * 1%);
    right: 0%; } }
.wave-58 {
  animation-name: wave-58;
  top: calc(100% - 58 * 1%);
  height: calc(58 * 1%); }

@keyframes wave-59 {
  0% {
    top: calc( 100% - 59 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 59 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 59 * 1%);
    right: 0%; } }
.wave-59 {
  animation-name: wave-59;
  top: calc(100% - 59 * 1%);
  height: calc(59 * 1%); }

@keyframes wave-60 {
  0% {
    top: calc( 100% - 60 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 60 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 60 * 1%);
    right: 0%; } }
.wave-60 {
  animation-name: wave-60;
  top: calc(100% - 60 * 1%);
  height: calc(60 * 1%); }

@keyframes wave-61 {
  0% {
    top: calc( 100% - 61 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 61 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 61 * 1%);
    right: 0%; } }
.wave-61 {
  animation-name: wave-61;
  top: calc(100% - 61 * 1%);
  height: calc(61 * 1%); }

@keyframes wave-62 {
  0% {
    top: calc( 100% - 62 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 62 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 62 * 1%);
    right: 0%; } }
.wave-62 {
  animation-name: wave-62;
  top: calc(100% - 62 * 1%);
  height: calc(62 * 1%); }

@keyframes wave-63 {
  0% {
    top: calc( 100% - 63 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 63 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 63 * 1%);
    right: 0%; } }
.wave-63 {
  animation-name: wave-63;
  top: calc(100% - 63 * 1%);
  height: calc(63 * 1%); }

@keyframes wave-64 {
  0% {
    top: calc( 100% - 64 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 64 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 64 * 1%);
    right: 0%; } }
.wave-64 {
  animation-name: wave-64;
  top: calc(100% - 64 * 1%);
  height: calc(64 * 1%); }

@keyframes wave-65 {
  0% {
    top: calc( 100% - 65 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 65 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 65 * 1%);
    right: 0%; } }
.wave-65 {
  animation-name: wave-65;
  top: calc(100% - 65 * 1%);
  height: calc(65 * 1%); }

@keyframes wave-66 {
  0% {
    top: calc( 100% - 66 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 66 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 66 * 1%);
    right: 0%; } }
.wave-66 {
  animation-name: wave-66;
  top: calc(100% - 66 * 1%);
  height: calc(66 * 1%); }

@keyframes wave-67 {
  0% {
    top: calc( 100% - 67 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 67 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 67 * 1%);
    right: 0%; } }
.wave-67 {
  animation-name: wave-67;
  top: calc(100% - 67 * 1%);
  height: calc(67 * 1%); }

@keyframes wave-68 {
  0% {
    top: calc( 100% - 68 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 68 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 68 * 1%);
    right: 0%; } }
.wave-68 {
  animation-name: wave-68;
  top: calc(100% - 68 * 1%);
  height: calc(68 * 1%); }

@keyframes wave-69 {
  0% {
    top: calc( 100% - 69 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 69 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 69 * 1%);
    right: 0%; } }
.wave-69 {
  animation-name: wave-69;
  top: calc(100% - 69 * 1%);
  height: calc(69 * 1%); }

@keyframes wave-70 {
  0% {
    top: calc( 100% - 70 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 70 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 70 * 1%);
    right: 0%; } }
.wave-70 {
  animation-name: wave-70;
  top: calc(100% - 70 * 1%);
  height: calc(70 * 1%); }

@keyframes wave-71 {
  0% {
    top: calc( 100% - 71 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 71 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 71 * 1%);
    right: 0%; } }
.wave-71 {
  animation-name: wave-71;
  top: calc(100% - 71 * 1%);
  height: calc(71 * 1%); }

@keyframes wave-72 {
  0% {
    top: calc( 100% - 72 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 72 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 72 * 1%);
    right: 0%; } }
.wave-72 {
  animation-name: wave-72;
  top: calc(100% - 72 * 1%);
  height: calc(72 * 1%); }

@keyframes wave-73 {
  0% {
    top: calc( 100% - 73 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 73 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 73 * 1%);
    right: 0%; } }
.wave-73 {
  animation-name: wave-73;
  top: calc(100% - 73 * 1%);
  height: calc(73 * 1%); }

@keyframes wave-74 {
  0% {
    top: calc( 100% - 74 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 74 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 74 * 1%);
    right: 0%; } }
.wave-74 {
  animation-name: wave-74;
  top: calc(100% - 74 * 1%);
  height: calc(74 * 1%); }

@keyframes wave-75 {
  0% {
    top: calc( 100% - 75 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 75 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 75 * 1%);
    right: 0%; } }
.wave-75 {
  animation-name: wave-75;
  top: calc(100% - 75 * 1%);
  height: calc(75 * 1%); }

@keyframes wave-76 {
  0% {
    top: calc( 100% - 76 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 76 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 76 * 1%);
    right: 0%; } }
.wave-76 {
  animation-name: wave-76;
  top: calc(100% - 76 * 1%);
  height: calc(76 * 1%); }

@keyframes wave-77 {
  0% {
    top: calc( 100% - 77 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 77 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 77 * 1%);
    right: 0%; } }
.wave-77 {
  animation-name: wave-77;
  top: calc(100% - 77 * 1%);
  height: calc(77 * 1%); }

@keyframes wave-78 {
  0% {
    top: calc( 100% - 78 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 78 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 78 * 1%);
    right: 0%; } }
.wave-78 {
  animation-name: wave-78;
  top: calc(100% - 78 * 1%);
  height: calc(78 * 1%); }

@keyframes wave-79 {
  0% {
    top: calc( 100% - 79 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 79 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 79 * 1%);
    right: 0%; } }
.wave-79 {
  animation-name: wave-79;
  top: calc(100% - 79 * 1%);
  height: calc(79 * 1%); }

@keyframes wave-80 {
  0% {
    top: calc( 100% - 80 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 80 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 80 * 1%);
    right: 0%; } }
.wave-80 {
  animation-name: wave-80;
  top: calc(100% - 80 * 1%);
  height: calc(80 * 1%); }

@keyframes wave-81 {
  0% {
    top: calc( 100% - 81 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 81 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 81 * 1%);
    right: 0%; } }
.wave-81 {
  animation-name: wave-81;
  top: calc(100% - 81 * 1%);
  height: calc(81 * 1%); }

@keyframes wave-82 {
  0% {
    top: calc( 100% - 82 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 82 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 82 * 1%);
    right: 0%; } }
.wave-82 {
  animation-name: wave-82;
  top: calc(100% - 82 * 1%);
  height: calc(82 * 1%); }

@keyframes wave-83 {
  0% {
    top: calc( 100% - 83 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 83 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 83 * 1%);
    right: 0%; } }
.wave-83 {
  animation-name: wave-83;
  top: calc(100% - 83 * 1%);
  height: calc(83 * 1%); }

@keyframes wave-84 {
  0% {
    top: calc( 100% - 84 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 84 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 84 * 1%);
    right: 0%; } }
.wave-84 {
  animation-name: wave-84;
  top: calc(100% - 84 * 1%);
  height: calc(84 * 1%); }

@keyframes wave-85 {
  0% {
    top: calc( 100% - 85 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 85 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 85 * 1%);
    right: 0%; } }
.wave-85 {
  animation-name: wave-85;
  top: calc(100% - 85 * 1%);
  height: calc(85 * 1%); }

@keyframes wave-86 {
  0% {
    top: calc( 100% - 86 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 86 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 86 * 1%);
    right: 0%; } }
.wave-86 {
  animation-name: wave-86;
  top: calc(100% - 86 * 1%);
  height: calc(86 * 1%); }

@keyframes wave-87 {
  0% {
    top: calc( 100% - 87 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 87 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 87 * 1%);
    right: 0%; } }
.wave-87 {
  animation-name: wave-87;
  top: calc(100% - 87 * 1%);
  height: calc(87 * 1%); }

@keyframes wave-88 {
  0% {
    top: calc( 100% - 88 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 88 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 88 * 1%);
    right: 0%; } }
.wave-88 {
  animation-name: wave-88;
  top: calc(100% - 88 * 1%);
  height: calc(88 * 1%); }

@keyframes wave-89 {
  0% {
    top: calc( 100% - 89 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 89 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 89 * 1%);
    right: 0%; } }
.wave-89 {
  animation-name: wave-89;
  top: calc(100% - 89 * 1%);
  height: calc(89 * 1%); }

@keyframes wave-90 {
  0% {
    top: calc( 100% - 90 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 90 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 90 * 1%);
    right: 0%; } }
.wave-90 {
  animation-name: wave-90;
  top: calc(100% - 90 * 1%);
  height: calc(90 * 1%); }

@keyframes wave-91 {
  0% {
    top: calc( 100% - 91 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 91 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 91 * 1%);
    right: 0%; } }
.wave-91 {
  animation-name: wave-91;
  top: calc(100% - 91 * 1%);
  height: calc(91 * 1%); }

@keyframes wave-92 {
  0% {
    top: calc( 100% - 92 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 92 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 92 * 1%);
    right: 0%; } }
.wave-92 {
  animation-name: wave-92;
  top: calc(100% - 92 * 1%);
  height: calc(92 * 1%); }

@keyframes wave-93 {
  0% {
    top: calc( 100% - 93 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 93 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 93 * 1%);
    right: 0%; } }
.wave-93 {
  animation-name: wave-93;
  top: calc(100% - 93 * 1%);
  height: calc(93 * 1%); }

@keyframes wave-94 {
  0% {
    top: calc( 100% - 94 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 94 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 94 * 1%);
    right: 0%; } }
.wave-94 {
  animation-name: wave-94;
  top: calc(100% - 94 * 1%);
  height: calc(94 * 1%); }

@keyframes wave-95 {
  0% {
    top: calc( 100% - 95 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 95 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 95 * 1%);
    right: 0%; } }
.wave-95 {
  animation-name: wave-95;
  top: calc(100% - 95 * 1%);
  height: calc(95 * 1%); }

@keyframes wave-96 {
  0% {
    top: calc( 100% - 96 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 96 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 96 * 1%);
    right: 0%; } }
.wave-96 {
  animation-name: wave-96;
  top: calc(100% - 96 * 1%);
  height: calc(96 * 1%); }

@keyframes wave-97 {
  0% {
    top: calc( 100% - 97 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 97 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 97 * 1%);
    right: 0%; } }
.wave-97 {
  animation-name: wave-97;
  top: calc(100% - 97 * 1%);
  height: calc(97 * 1%); }

@keyframes wave-98 {
  0% {
    top: calc( 100% - 98 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 98 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 98 * 1%);
    right: 0%; } }
.wave-98 {
  animation-name: wave-98;
  top: calc(100% - 98 * 1%);
  height: calc(98 * 1%); }

@keyframes wave-99 {
  0% {
    top: calc( 100% - 99 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 99 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 99 * 1%);
    right: 0%; } }
.wave-99 {
  animation-name: wave-99;
  top: calc(100% - 99 * 1%);
  height: calc(99 * 1%); }

@keyframes wave-100 {
  0% {
    top: calc( 100% - 100 * 1%);
    right: 0%; }
  50% {
    top: calc(101% - 100 * 1%);
    right: 1%; }
  100% {
    top: calc(100 - 100 * 1%);
    right: 0%; } }
.wave-100 {
  animation-name: wave-100;
  top: calc(100% - 100 * 1%);
  height: calc(100 * 1%); }

.traco {
  width: 100px;
  margin: 0 auto;
  border: 1px solid #13B87C; }

.wave {
  background: #111;
  height: 200px;
  width: 200px;
  overflow: hidden;
  box-shadow: 0 4px 5px -2px #13B87C;
  float: left;
  transform: rotate(0deg);
  transition: all 0.1s linear; }

.wave-up {
  width: 105%;
  position: relative;
  background-image: url("../../img/onda.png");
  animation-duration: 1s;
  animation-direction: normal;
  animation-direction: alternate;
  animation-iteration-count: infinite; }
  .wave-up p {
    text-shadow: 0 0 2px #111111;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #111111;
    font-size: 20px; }

/*CUBO 3*/
.area-3d {
  perspective: 1000px;
  width: 200px;
  height: 200px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 100px; }

.cubo-3d {
  display: inline-block;
  transition: all 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateX(-15deg) rotateY(15deg); }

.face-3d {
  overflow: hidden;
  position: absolute;
  border: 2px solid white;
  background: #FFF;
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1), 0 0 50px rgba(0, 0, 0, 0.3);
  color: #333;
  line-height: 200px; }

.cubo-frente {
  width: 200px;
  height: 200px;
  transform: translate3d(0, 0, 100px); }

.cubo-cima {
  width: 200px;
  height: 200px;
  transform: rotateX(90deg) translate3d(0, 0, 100px); }

.cubo-baixo {
  width: 200px;
  height: 200px;
  transform: rotateX(-90deg) translate3d(0, 0, 100px); }

.cubo-esquerda {
  width: 200px;
  height: 200px;
  left: 50%;
  margin-left: -100px;
  transform: rotateY(-90deg) translate3d(0, 0, 100px); }

.cubo-direita {
  width: 200px;
  height: 200px;
  left: 50%;
  margin-left: -100px;
  transform: rotateY(90deg) translate3d(0, 0, 100px); }

.cubo-costas {
  width: 200px;
  height: 200px;
  transform: rotateY(180deg) translate3d(0, 0, 100px); }

.cubo-frente {
  background: url("../../img/cubo-frente.png");
  background-size: 100%; }

.cubo-esquerda {
  background: url("../../img/cubo-esquerda.png");
  background-size: auto 100%; }

.cubo-direita {
  background: url("../../img/cubo-direita.png");
  background-repeat: no-repeat;
  background-size: auto 100%; }

.cubo-cima {
  background: url("../../img/cubo-cima.png");
  background-size: auto 100%; }

.cubo-baixo {
  background: url("../../img/cubo-baixo.png");
  background-size: auto 100%; }

.cubo-costas {
  background: url("../../img/cubo-costas.png");
  background-size: auto 100%; }

/*ANIMA├ö├Â┬úÔö£├é├ö├Â┬úÔö£├®├ö├Â┬╝Ôö£ÔòæÔö£├ÂÔö£├éÔö¼├║├ö├Â┬╝├ö├▓├ªOES*/
.glyphicon-menu-down {
  animation-name: menu-down;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(0.54, 0.14, 0.47, 1.05);
  animation-direction: normal;
  animation-iteration-count: infinite; }

@keyframes menu-down {
  0% {
    transform: translateY(0%) scale(1, 1); }
  50% {
    transform: translateY(25%) scale(0.8, 0.8); }
  100% {
    transform: translateY(0%) scale(1, 1); } }
.area-3d .cubo-3d {
  animation-name: gira-cubo;
  animation-duration: 18s;
  animation-direction: normal;
  animation-iteration-count: infinite; }

@keyframes gira-cubo {
  0% {
    transform: rotateY(90deg); }
  20% {
    transform: rotateY(-90deg); }
  40% {
    transform: rotateX(90deg); }
  60% {
    transform: rotateX(-90deg); }
  80% {
    transform: rotateY(180deg); }
  100% {
    transform: rotateY(90deg); } }
.texto-tecnologias {
  animation-name: muda-texto;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  color: #13B87C;
  font-size: 35px; }

@keyframes muda-texto:after {
  0% {
    content: "luan"; }
  100% {
    content: "souza"; } }

/*# sourceMappingURL=style.css.map */
